@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=WDXL+Lubrifont+TC&display=swap");

:root {
  --dice-size: 150px;
  --dice-position: 75px;
  --dot-position: 37.5px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2ec91;
  flex-direction: column;
  font-family: "Cherry Bomb One", system-ui;
  overflow-x: hidden;
}

#number {
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 1px black;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header {
  margin-top: 5vh;
}

.controller {
  margin-top: 13vh;
}

.history {
  margin-top: 10vh;
  min-height: 10vh;
}

.history-table {
  font-family: "WDXL Lubrifont TC", sans-serif;
  background-color: #fff;
  border-radius: 30px;
  padding: 2%;
  margin-bottom: 5vh;
  margin-top: 5vh;
  display: none;
}

table {
  border-collapse: collapse;
}

th {
  width: 15vw;
  height: 0.2vh;
  font-size: 2.4vw;
  border: 1px solid black;
}
td {
  text-align: center;
  height: 8vh;
  font-size: 2.3vw;
  border: 1px solid #000;
}

tr:first-child th,
tr:first-child td {
  border-top: none;
}

tr:last-child td {
  border-bottom: none;
}
th:first-child,
td:first-child {
  border-left: none;
}
th:last-child,
td:last-child {
  border-right: none;
}

.roll {
  font-family: "Cherry Bomb One", system-ui;
  font-size: 2.8vw;
  background-color: #000;
  border: 0px;
  border-radius: 30px;
  padding: 0.3em;
  padding-left: 1em;
  padding-right: 1em;
  cursor: pointer;
  color: #ffff;
  display: none;
}

.guess-button {
  display: flex;
  justify-content: center;
  gap: 5vw;
  margin-top: 3vh;
}

.guess {
  font-family: "WDXL Lubrifont TC", sans-serif;
  border: 0px;
  border-radius: 30px;
  padding: 0.7%;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 2.5vw;
  cursor: pointer;
}

.guess:hover {
  outline: 3px solid;
}

.guess.selected {
  outline: 4px solid;
}

.lower {
  background-color: #ebc20a;
}

.higher {
  background-color: #db3939;
}

.equal {
  background-color: #6dd33a;
}

.question {
  text-align: center;
  font-size: 4.1vw;
}

.result.container {
  height: 15vh;
  font-size: 5vw;
  padding: 2vh;
  margin-bottom: 8vh;
}

.dice {
  width: var(--dice-size);
  height: var(--dice-size);
  transform-style: preserve-3d;
  transform: rotateY(185deg) rotateX(150deg) rotateZ(315deg);
  animation: rotate 5s linear infinite;
}

.side {
  width: 100%;
  height: 100%;
  background: #ffff;
  position: absolute;
  border-radius: 12px;
  border: 1.5px solid #939191;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.side {
  &:before {
    content: "";
    width: 20%;
    height: 20%;
    background: black;
    border-radius: 50%;
  }
}

.one {
  transform: translateZ(var(--dice-position));
  &:before {
    background-color: red;
  }
}

.two {
  transform: translateX(calc(-1 * var(--dice-position))) rotateY(-90deg);
  &:before {
    background: transparent;
    box-shadow: #000 calc(-1 * var(--dot-position))
        calc(-1 * var(--dot-position)) 0px 0px,
      #000 var(--dot-position) var(--dot-position) 0px 0px;
  }
}

.three {
  transform: translateY(var(--dice-position)) rotateX(90deg);
  &:before {
    box-shadow: #000 calc(-1 * var(--dot-position)) var(--dot-position) 0px 0px,
      #000 var(--dot-position) calc(-1 * var(--dot-position)) 0px 0px;
  }
}

.four {
  transform: translateY(calc(-1 * var(--dice-position))) rotateX(90deg);
  &:before {
    background: transparent;
    box-shadow: #000 calc(-1 * var(--dot-position)) var(--dot-position) 0px 0px,
      #000 calc(-1 * var(--dot-position)) calc(-1 * var(--dot-position)) 0px 0px,
      #000 var(--dot-position) var(--dot-position) 0px 0px,
      #000 var(--dot-position) calc(-1 * var(--dot-position)) 0px 0px;
  }
}

.five {
  transform: translateX(var(--dice-position)) rotateY(90deg);
  &:before {
    box-shadow: #000 calc(-1 * var(--dot-position))
        calc(-1 * var(--dot-position)) 0px 0px,
      #000 calc(-1 * var(--dot-position)) var(--dot-position) 0px 0px,
      #000 var(--dot-position) calc(-1 * var(--dot-position)) 0px 0px,
      #000 var(--dot-position) var(--dot-position) 0px 0px;
  }
}

.six {
  transform: translateZ(calc(-1 * var(--dice-position)));
  &:before {
    background: transparent;
    box-shadow: #000 calc(-1 * var(--dot-position))
        calc(-1 * var(--dot-position)) 0px 0px,
      #000 calc(-1 * var(--dot-position)) 0px 0px 0px,
      #000 calc(-1 * var(--dot-position)) var(--dot-position) 0px 0px,
      #000 var(--dot-position) calc(-1 * var(--dot-position)) 0px 0px,
      #000 var(--dot-position) 0px 0px 0px,
      #000 var(--dot-position) var(--dot-position) 0px 0px;
  }
}

@keyframes rotate {
  from {
    transform: rotateY(0) rotateX(45deg) rotateZ(45deg);
  }
  to {
    transform: rotateY(360deg) rotateX(45deg) rotateZ(45deg);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.4s;
}

@media screen and (max-width: 700px) {
  .question {
    font-size: 8vw;
  }
  .guess {
    font-size: 5vw;
  }
  .roll {
    font-size: 5vw;
  }

  .root {
    --dice-size: 280px;
    --dice-position: 140px;
    --dot-position: 67.5px;
  }

  .result.container {
    font-size: 10vw;
  }

  th {
    font-size: 5.1vw;
    width: 20vw;
  }
  td {
    font-size: 5vw;
  }
}

@media screen and (min-width: 701px) and (max-width: 1000px) {
  .question {
    font-size: 6vw;
  }
  .guess {
    font-size: 4vw;
  }
  .roll {
    font-size: 5vw;
  }

  .root {
    --dice-size: 280px;
    --dice-position: 140px;
    --dot-position: 67.5px;
  }

  .result.container {
    font-size: 10vw;
  }

  th {
    font-size: 4vw;
    width: 20vw;
  }
  td {
    font-size: 3.6vw;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1300px) {
  .question {
    font-size: 5vw;
  }
  .guess {
    font-size: 3vw;
  }
  .roll {
    font-size: 3.5vw;
  }

  .result.container {
    font-size: 6vw;
  }

  .root {
    --dice-size: 160px;
    --dice-position: 80px;
    --dot-position: 67.5px;
  }

  th {
    font-size: 3.2vw;
    width: 17vw;
  }
  td {
    font-size: 3vw;
  }
}
